
*.db-wal
.vs/steam/FileContentIndex/b4194968-b140-456a-9f47-ae9c48dfad59.vsidx
.vs/steam/v17/.suo
.vs/steam/v17/Preview/Browse.VC.db
.vs/steam/v17/Preview/Browse.VC.db-shm
.vs/steam/v17/Preview/Browse.VC.opendb
.vs/steam/v17/Preview/ipch/AutoPCH/3a2614a5f45600b3/MAIN.ipch
